.cs2-fieldStyle {
    &.entryLine {
        .key {
            color: var(--menuText1Disabled);
            font-size: var(--fontSizeXS);
        }

        .comment {
            font-size: var(--fontSizeXS);
            color: var(--accentColorDark-hover);
        }
    }

    &.thirdSelect {
        width: 35%;
        display: flex;
    }

    &.halfSelect {
        width: 55%;
        display: flex;
    }
}

.belowSelectorWithBtn {
    flex-direction: row;
    display: flex;

    .react-select-container {
        position: relative;
        max-width: 300rem;
        height: 100%;
        word-wrap: nowrap;

        .list-box {
            position: absolute;
            bottom: 85%;
            height: auto;
            left: 0;
            right: 0;

            .menu-list {
                border-top-style: solid;
                border-bottom-style: none;
            }
        }

        .value-control {
            margin-top: 4rem;

            .indicators-container svg {
                transform: rotate(180deg);
            }
        }
    }
}

button[disabled] {
    background-color: black !important;
    color: gray !important;
    border-width: 1rem;
    border-style: solid;
    border-color: gray;
}

.emptyEntry {
    color: red;
}

.validationErrors {
    color: red;
    white-space: pre;
    text-align: right;
    padding-right: 5rem;
}

textarea.invalid {
    background-color: rgb(65, 0, 0);
    color: lightcoral;
    border-color: darkred;
}

.actionBtns button {
    height: 30rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.footResume {
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: var(--fontSizeXS);
    padding-top: 4rem;
    color: var(--normalTextColorDimmer);
}