@import './lineIcon.scss';

.paletteViewer {
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2rem;

    &:nth-child(2n) {
        background-color: rgba(0, 0, 0, 0.288);
    }

    label {
        min-height: 20rem;
        padding: 6rem;
    }
}


.colorShowcaseContainer {
    flex-direction: column;
    display: flex;
    justify-content: center;

    .colorShowcase {
        flex-direction: row;
        display: flex;
        flex-wrap: wrap;

        .lineIconContainer {
            @extend %lineIconContainer;
            position: relative;

            .excludeBtn,
            .moveMinus,
            .movePlus {
                display: none;
            }

            .lineIcon {
                @extend %lineIcon;
                position: relative;
                display: flex;
                margin-right: 6rem;

            }

            &:hover {
                %commonBtn {
                    display: flex;
                    position: absolute;
                    width: calc(8rem * var(--lineIconSizeMultiplier));
                    height: calc(8rem * var(--lineIconSizeMultiplier));
                    font-size: calc(9rem* var(--lineIconSizeMultiplier));
                    line-height: calc(8rem* var(--lineIconSizeMultiplier));
                    text-align: center;
                    justify-content: center;
                    z-index: 9999;
                    border-width: 1rem;
                    border-style: solid;
                }

                .excludeBtn {
                    @extend %commonBtn;
                    top: 2rem;
                    right: 2rem;
                    background-color: var(--negativeColor);
                    color: var(--iconColor);
                    line-height: calc(6rem* var(--lineIconSizeMultiplier));

                    &:hover {
                        background-color: var(--warningColor);
                    }
                }

                .moveMinus {
                    @extend %commonBtn;
                    bottom: 2rem;
                    left: 2rem;
                    background-color: var(--accentColorLight);
                    color: var(--accentColorDarker);

                    &:hover {
                        background-color: var(--accentColorLightest);
                        color: var(--accentColorDarker-hover);
                    }
                }

                .movePlus {
                    @extend %commonBtn;
                    bottom: 2rem;
                    right: 2rem;
                    background-color: var(--accentColorLight);
                    color: var(--accentColorDarker);

                    &:hover {
                        background-color: var(--accentColorLightest);
                        color: var(--accentColorDarker-hover);
                    }
                }
            }
        }
    }
}