.formatContainer {
    --scaleFormat: 1;
    --margin-base: calc((var(--scaleFormat) - 1) * 28rem + 3rem);
    --form-border-width: 0;
    position: relative;
    transform: scale(var(--scaleFormat));
    margin-bottom: calc((var(--scaleFormat) - 1) * 25rem);
    margin-top: calc((var(--scaleFormat) - 1) * 25rem);
    // margin: var(--margin-base) calc(var(--margin-base) + 3rem) var(--margin-base) var(--margin-base) ;    
    margin-left: 8rem;
    margin-right: 8rem;
    overflow: visible;
    width: calc(60rem * var(--scaleFormat));
    height: calc(60rem * var(--scaleFormat));
    display: block;

    .format {
        position: absolute;
        background-color: transparent;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;

        .before {
            position: absolute;
            background-color: var(--fontColor);
            top: calc(-1* var(--form-border-width));
            left: calc(-1* var(--form-border-width));
            right: calc(-1* var(--form-border-width));
            bottom: calc(-1* var(--form-border-width));
            z-index: -1;
        }

        .after {
            position: absolute;
            background-color: var(--currentBgColor);
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

        +.num {
            position: absolute;
            font-size: 48.000000rem;
            font-weight: bold;
            color: var(--fontColor);
            z-index: 9;
            top: 50.000000%;
            text-align: center;
            width: 60.000000rem;
            height: auto;
            line-height: 100.000000%;
            transform: translateY(-50%);
        }

        &.Bus.passengers {

            .before,
            .after {
                clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
            }
        }

        &.Tram.passengers {

            .before,
            .after {
                clip-path: border-box polygon(nonzero, 20.000000% 0.000000%, 80.000000% 0.000000%, 100.000000% 100.000000%, 0.000000% 100.000000%);
            }

        }

        &.Ship.passengers {

            .before,
            .after {
                clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
            }

        }

        &.Train.passengers {

            .before,
            .after {
                clip-path: circle(50% at 50% 50%);
            }

        }

        &.Airplane.passengers {

            .before,
            .after {
                clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
            }

        }


        &.Ship.cargo {

            .before,
            .after {
                clip-path: polygon(66.6666% 16.6666%, 83.3333% 16.6666%, 83.3333% 33.3333%, 100% 50%,
                        83.3333% 66.6666%, 83.3333% 83.3333%, 66.6666% 83.3333%, 50% 100%,
                        33.3333% 83.3333%, 16.6666% 83.3333%, 16.6666% 66.6666%, 0% 50%,
                        16.6666% 33.3333%, 16.6666% 16.6666%, 33.3333% 16.6666%, 50% 0%);
            }

        }

        &.Train.cargo {

            .before,
            .after {
                clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
            }

        }

        &.Airplane.cargo {

            .before,
            .after {
                clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
            }

        }
    }
}